{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <!--filters-->
    <div class="col-lg-2 mx-auto">
      <div class="list-group">
        <a href="" class="list-group-item list-group-item-action"
          ><b>All Products</b></a
        >
        {% for category in categories %}
        <a
          href="?category={{category.id}}"
          class="list-group-item list-group-item-action"
          >{{category.name}}</a
        >
        {% endfor %}
      </div>
    </div>

    <!--All products-->
    <div id="products" class="col-lg-10 mx-auto">
      <div class="row mx-auto">
        {% for product in products %}
        <div class="card mx-auto mb-4" style="width: 18rem">
          <img src="{{product.image.url}}" class="card-img-top" alt="image" />
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.price}}/- {{product.description}}</p>
            <a
              href="tel:{{product.phoneno}}"
              class="btn btn-light border btn-sm"
              >Call</a
            >
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
